@font-face {
    font-family: 'shrikhandregular';
    src: url('../fonts/Shrikhand-Regular.otf') format('truetype'),
         url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/footer";


@import "./pages/home";
@import "./pages/menu";

