.loading-spinner {
    width: 100%;
    height: 100%;
    background-color: $color-background-light;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
        align-self: center;
        font-size: 36px;
        color: darken($color-background-input,20%);
        width: 125px;
        margin: 20px 0px 20px 0px;
    }
    &--circle {
        align-self: center;
        height: 200px;
        width: 200px;
        margin: 20px 0px 20px 0px;
        //position: relative;
        //top: 30%;
        border: dotted 20px darken($color-tertiary,5%);
        border-bottom-color: $color-background-input;
        border-radius: 50%;
        animation: spinner 1s cubic-bezier(.3,.75,.5,1) 3 both , color-progress 2s ease-in-out 2 both;
    }
    animation: fade-animation 50ms 3s both, translate-z 0ms 3s forwards;
}
.page_content {
    position: relative;
    z-index: 1;
}