/* CSS for the Header */
.header {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
        margin: 15px 0px 10px 0px;
        width: 50%;
        img {
            width: 100%;
            height: auto;
        }
        // Responsive rules for the Logo
        @media only screen and (min-width:768px) and (max-width: 990px){
            width: 40%;
        }
        @media only screen and (min-width: 991px) {
            width: 25%;
        }
    }
    &__retour {
        position: absolute;
        left: 5%;
        text-decoration: none;
        color: black;
        > span {
            font-size: 22px;
            @media only screen and (min-width:768px) {
                font-size: 30px;
            }
        }
    }
}