/* CSS for buttons */
button {
    font-size: 20px;
    font-weight: 200;
    color: #FFFFFF;
    min-width: 200px;
    padding: 20px;
    border: none;
    border-radius: 35px;
    box-shadow: $regular-shadow;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    position: relative;
    z-index: 0;
    &:hover {
        cursor: pointer;
        &::after {
            opacity: 1;
         }
    }
    &::after {
        @include pseudo-elem;
        background: linear-gradient(to bottom right, lighten($color-secondary,5), lighten($color-primary,5));
        border-radius: 35px;
        box-shadow: $bolder-shadow;
        opacity: 0;
        z-index: -1;
        transition: all 250ms;
    }
}