/* CSS for buttons */
button {
    font-size: 20px;
    font-weight: 200;
    color: #FFFFFF;
    min-width: 200px;
    padding: 20px;
    border: none;
    border-radius: 35px;
    box-shadow: 4px 4px 6px darken($color-background-input,5%);
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
}