.fa-map-marker-alt {
    font-size: 30px;
            padding: 1px;
}

.step__icon {
    width: 15px;
    padding: 0 20px 0 20px;
    color: $color-background-dark;
}

.empty-heart {
    font-size: 28px;
    font-weight: 200;
    position: absolute;
    z-index: 0;
}

.filled-heart {
    font-size: 28px;
    font-weight: 200;
    position: relative;
    z-index: 1;
    color: linear-gradient(to bottom, $color-primary, $color-secondary);
    opacity: 0;
    &:hover {
        cursor: pointer;
    }
    &:active {
        animation: reveal-animation 0ms forwards;
    }
}