.fa-map-marker-alt {
    font-size: 30px;
            padding: 1px;
}

.step__icon {
    width: 15px;
    padding: 0 20px 0 20px;
    color: lighten($color-background-dark,20%);
}

.empty-heart {
    font-size: 30px;
    padding: 2px;
    position: absolute;
    z-index: 1;
}

.filled-heart {
    font-size: 31px;
    padding: 2px 2px 2px 2px;
    position: relative;
    top: 2px;
    left: -0.5px;
    color: $color-secondary;
    z-index: 2;
    opacity: 0;
    background: -webkit-linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover, :active {
        cursor: pointer;
        animation: reveal-animation 1s ease-in-out forwards;
    }
}
.heart {
    width: fit-content;
    height: 50px;
}
.resto-card >.heart {
    z-index: 1;
    position: relative;
    top: -45px;
    left: 85%;
}
