/* Icons CSS */
.fa-map-marker-alt {
    font-size: 30px;
    padding: 1px;
}

.step__icon {
    width: 15px;
    padding: 0 20px 0 20px;
    color: lighten($color-background-dark,20%);
}

//Heart checkbox
.heart-checkbox {
    width: fit-content;
    display: flex;
    cursor: pointer;
    input[type="checkbox"] {
        display: none;
    }
    .checked {
        justify-self: flex-start;
        font-size: 30px;
        color: $color-secondary;
        @include text-gradient-color;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        position: absolute;
    }
    input[type="checkbox"] ~ .unchecked {
        font-size: 30px;
    }
    input[type="checkbox"]:checked ~ .checked {
        opacity: 1;
    }
    input[type="checkbox"]:checked ~ .unchecked {
        opacity:0;
    }
}

.resto-card >.heart-checkbox {
    position: relative;
    z-index: 1;
    top: -45px;
    left: 85%;
}
