/* CSS homepage */
.intro {
    margin-bottom: 25px;
    &__localisation {
        display: flex;
        justify-content: center;
        justify-items: center;
        padding: 10px 0px 10px 0px;
        background-color: $color-background-input;
        input {
            width: 150px;
            border: none;
            background-color: $color-background-input;
            padding-left: 20px;
            font-size: 19px;
        }
        span {
            font-size: 30px;
            padding: 1px;
        }
        
    }
    &__presentation {
        background-color: $color-background-light;
        text-align: center;
        padding: 35px 20px 35px 20px;
        p {
            color: $color-text-light;
            margin-bottom: 30px;
        }
    }
    
}

.fonctionnement {
    padding: 0 5% 0 5%;
    margin-bottom: 50px;
    &__step {
        display: flex;
        align-items: center;
        height: 60px;
        border-radius: 25px;
        box-shadow: 4px 4px 6px darken($color-background-input,5%);
        margin: 20px 0 20px 0;
        padding: 5px 20px 5px 0px;
        background-color: $color-background-light;
        position: relative;
        z-index: 1;
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            @include pseudo-elem;
            background-color: lighten($color: $color-primary, $amount: 30);
            border-radius: 25px;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}


.step__number {
    color: #FFFFFF;
    border-radius: 75px;
    padding: 2px 9px 2px 9px;
    background-color: $color-primary;
    position: relative;
    left: -5px;
}

.step__icon {
    width: 15px;
    padding: 0 20px 0 20px;
    color: $color-background-dark;
}

.restaurants {
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5% 0 5%;
    & > div {
        margin: auto;
        padding: 0px 0 30px 0;
    }
}
.resto-card {
    max-width: 450px;
    margin: 35px 0px 25px 0px;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 6px darken($color-background-input,5%);
    a {
        text-decoration: none;
    }
    &__image {
            border-radius: 15px 15px 0px 0px;
            width: 100%;
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                position: relative;
                top: -30px;
                z-index: 1;
            }
            .image__text {
                position: sticky;
                top: 15px;
                left: 100%;
                z-index: 2;
                margin-right: 15px;
                padding: 10px;
                font-weight: 600;
                color: darken($color: $color-tertiary, $amount: 40%);
                border-radius: 3px;
                background-color: $color-tertiary;
            }
    }
    &__text {
        display: flex;
        justify-items: baseline;
        justify-content: space-between;
        padding: 15px;
        strong {
            font-weight: 700;
        }
        span {
            font-size: 25px;
            justify-content: center;
            padding: 3px 2px 0px 2px;
        }
    }
   
}

@media only screen and (min-width: 991px) {

    .fonctionnement {
        padding: 0px;
        & > div {
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: space-around;
        }
    }

    .restaurants {
        padding: 0px;
        & > div {
            width: 90%;
            margin: auto;
            padding: 10px 0px 30px 0px;
        }
        &__row{
            display: flex;
            justify-content: space-around;   
            margin-bottom: 20px;
        }
        .resto-card {
            max-width: 400px;
            min-width: 300px;
        }
    }

    
}

@media only screen and (min-width:768px) and (max-width: 990px) {
    .fonctionnement {
        & > div{
        margin: auto;
        width: 70%;
        }
    }

    .restaurants {
        & > div {
            margin: 0px;
            padding: 10px 0px 30px 0px;
        }
        &__row{
            display: flex;
            justify-content: space-between;
        }
        .resto-card {
            max-width: 345px;
        }
    }
    
}