/* CSS for menu pages */
.menu-image--container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    .image-portrait {
        position: relative;
        top: -115px;
    }
}

.menu-section {
    padding: 40px 15px 30px 15px;
    background-color: $color-background-light;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    margin-top: -50px;
    & > h3 {
        display: flex;
        justify-content: space-between;
    }
    &--button {
        display: flex;
        justify-content: center;
    }
}

.menu {
    & .sous-menu {
        padding: 20px 0px 20px 0px;
    }
    h4 {
        display: flex;
        flex-direction: column;
        span {
            width: 50px;
            height: 3px;
            background-color: $color-tertiary;
            margin-top: 5px;
        }
    }
    &__plat {
        display: flex;
        margin-bottom: 15px;
        background-color: #FFFFFF;
        border-radius: 15px;
        box-shadow: 4px 4px 6px darken($color-background-input,5%);
        &--text {
            font-size: 14px;
            width: 80%;
            padding: 8px 0px 8px 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            span {
                font-size: 16px;
                font-weight: 600;
            }
        }
        &--prix {
            padding: 0px 10px 8px 10px;
            font-size: 16px;
            font-weight: bold;
            width: 50px;
            text-align: right;
            align-self: flex-end;
        }
        &--checkbox {
            //display: none;
            //transform: scale(0);
            line-height: 66px;
            text-align: center;
            vertical-align: middle;
            width: 15%;
            max-width: 80px;
            padding: 0px 10px 0px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            color: #FFFFFF;
            font-size: 25px;
            background-color: $color-tertiary;
        }
    }
}

@media only screen and (min-width:768px) and (max-width: 990px) {

    .menu-image--container {
        height: 300px;
        img {
            position: relative;
            top: -180px;
        }
        .image-portrait {
            top: -250px;
        }
    }

    .menu-section {
        & > h3,.menu{
            width: 85%;
            margin: auto;
        }
        & > .menu {
            &__plat {
                width: 80%;
                margin: auto;
                margin-top: 15px;
                margin-bottom: 15px;
        }
        }
    }
}

@media only screen and (min-width: 991px) {
    .menu-image--container {
        height: 400px;
        img {
            position: relative;
            top: -200px;
        }
        .image-portrait {
            top: -270px;
        }
    }

    .menu-section {
        padding: 40px 5% 30px 5%;
        h3 {
            justify-content: flex-start;
            span {
                margin: 0px 20px 0px 20px;
            }
        } 
    }
    .menu {
        display: flex;
        justify-content: space-between;
        .sous-menu {
            width: 32%;
        }
    }
}