@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

@keyframes reveal-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} 

@keyframes progress-checkbox {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes progress-menu {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
