// -- Color -- //
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text: #181818;
$color-text-input: #353535;
$color-text-light: #6B6B6B;
$color-background-input: #EAEAEA;
$color-background-light:#F6F6F6;
$color-background-dark: #353535;



// -- Fonts --//
$title-font: 'shrikhandregular';
$text-font: 'Roboto';